@{
    ViewData["Title"] = "Подтверждение электронной почты";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Благодарим за подтверждение электронной почты. Пожалуйста, для входа нажмите здесь<a asp-controller="Account" asp-action="Login"></a>.
    </p>
</div>
